:root {
  --bg-color: #121212;
  --text-color: #ffffff;
  --accent-color: #4285f4;
  --secondary-color: #303030;
}

body {
  background-color: var(--bg-color);
  font-family: "Arial", sans-serif;
  color: var(--text-color);
  line-height: 1.6;
}

/* Global Styles */
.red-text {
  color: #ea4335;
}

.green-text {
  color: #34a853;
}

.blue-text {
  color: #4285f4;
}

.yellow-text {
  color: #fbbc05;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  position: sticky;
  top: 0;
  background-color: var(--secondary-color);
  font-display: flex;
  justify-content: center;
  z-index: 1000;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 2px 5px rgb(0, 0, 0, 0.2);
  max-width: 2000px;
  height: 80px;
  padding-left: 20px;
  padding-right: 20px;
}

.logo-container {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.logo-container img {
  width: 50px;
  height: 50px;
}

.logo-container h3 {
  color: var(--text-color);
  font-size: 16px;
  margin-right: 20px;
}

.nav-links-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navbar .nav-links a {
  color: var(--text-color);
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
}

.navbar .nav-links a:hover {
  color: var(--accent-color);
}

.cta-button {
  background-color: var(--accent-color);
  color: var(--text-color);
  width: 80px;
  padding: 0.5rem 0.2rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.cta-button:hover {
  background-color: rgb(52, 65, 133);
}

/* Hero Section*/
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(39, 36, 36);
  min-height: 600px;
  position: relative;
}

.hero-container {
  padding: 0 20px;
  position: relative;
  max-width: 2000px;
  gap: 2rem;
  justify-content: center;
  flex-direction: row;
}

.hero-text-container {
  gap: 1rem;
  width: 50%;
  padding: 20px;
  text-align: center;
  position: relative;
}

.Text-Paragraph {
  font-size: 20px;
}

.Text-Header {
  font-size: 2.5rem;
}

.hero-image-container {
  position: absolute;
  top: 0px;
  right: 150px;
}

.hero-image-container img {
  height: 300px;
  width: 300px;
  background-color: var(--accent-color);
  border-radius: 500px;
}

@media (max-width: 768px) {
  .hero {
    position: relative;
    justify-content: flex-start;
    min-height: auto; /* Adjust height */
  }

  .hero-text-container {
    width: 100%; /* Make text container full width */
    padding: 20px;

    text-align: center; /* Center the text */
  }

  .hero-container {
    position: static;
    flex-direction: column;
    justify-content: center;
    gap: 0px;
    height: 100%;
    text-align: center;
  }

  .hero-image-container {
    position: static; /* Remove absolute positioning */
    margin-bottom: 20px; /* Add space between image and text */
    text-align: center;
  }

  .Text-Header {
    font-size: 2rem; /* Adjust size for mobile */
  }

  .Text-Paragraph {
    font-size: 1rem; /* Adjust size for mobile */
  }

  .hero-image-container img {
    height: 250px; /* Adjust image size for smaller screens */
    width: 250px;
  }
}

.about {
  border: green 2px solid;
  display: flex;
  justify-content: center;
  padding: 3rem 0;
}

.about-container {
  border: red 2px solid;
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 30px 20px;
}

.about-container .about-image-container {
  border: blue 2px solid;
  background-color: #fabc04;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.about-container .about-image {
  height: 300px;
  max-width: 300px;
  border-radius: 10px;
  background-color: #fabc04;
}

.about-content .text {
  font-size: 1.2rem;
}

.about-content .about-cards {
  border: violet 2px solid;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 20px;
}

.card {
  border: orange 2px solid;
  background-color: var(--secondary-color);
  padding: 1rem;
  border-radius: 5px;
}

.skill {
  background-color: var(--bg-color);
  text-align: center;
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.skill:hover {
  transform: translateY(-5px);
  transition: transform 0.3s ease;
}

.skills {
  background-color: var(--secondary-color);
  justify-content: center;
  display: flex;
}

.skills-container {
  max-width: 2000px;
  padding: 2rem 1rem;
  text-align: center;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, 1fr));
  gap: 1.5rem;
  margin-top: 1rem;
}

.skill img {
  height: 100px;
  width: 100px;
}

.skill h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
  color: var(--accent-color);
}

.skill p {
  font-size: 1rem;
}

@media (max-width: 768px) {
  .skills-grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(200px, 1fr));
  }
}
.projects {
  padding: 3rem;
  display: flex;
  justify-content: center;
}

.projects-container {
  max-width: 2000px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.project-card img {
  height: 300px;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.project-card {
  background-color: var(--secondary-color);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  margin-top: 20px;
}

.project-card h3 {
  font-size: 1.5rem;
  margin-top: 10px;
}

.project-card p {
  font-size: 1rem;
  line-height: 1.5;
  margin-top: 10px;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 2rem;
}

.contact {
  background-color: var(--secondary-color);
  padding: 3rem;
  color: var(--text-color);
  display: flex;
  justify-content: center;
}

.contact-container {
  max-width: 1500px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.contact form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contact form input,
.contact form textarea {
  width: 100%;
  padding: 0.75rem;
  background-color: var(--secondary-color);
  border: 1px solid var(--accent-color);
  border-radius: 5px;
}

.social-icons img {
  width: 60px;
  height: 60px;
  padding: 6px;
}

.footer {
  display: flex;
  justify-content: center;
  padding: 2rem 0;
  background-color: var(--bg-color);
}

.footer-container {
  width: 100%;
  max-width: 1500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer .social-icons {
  text-decoration: none;
}
